<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nb.pachong.dao.XDao">
    <insert id="addX">
        insert into x_address(x_address, create_time, update_time, delete_type)
        values (#{x}, #{createTime}, #{createTime}, 0)
    </insert>

    <update id="updateTime">
        update x_address
        set update_time = #{updateTime}
        where x_address = #{x}
    </update>

    <update id="confirm">
        update x_address
        set update_time = #{updateTime},
            is_confirm  = 1
        where x_address = #{x}
    </update>

    <select id="getX" resultType="com.nb.pachong.entity.XEntity">
        select *
        from x_address
        where
        delete_type = 0
        <if test="send == 0">
            and is_send = #{send}
        </if>
        and is_confirm = 0
        order by create_time desc
    </select>

    <select id="getXByPage" resultType="com.nb.pachong.entity.XEntity">
        select *
        from x_address
        where
        delete_type = 0
        <if test="send == 0">
            and is_send = #{send}
        </if>
        and is_confirm = 0
        order by create_time desc
        limit #{num}, #{pageSize}
    </select>

    <select id="findCount" resultType="java.lang.Integer">
        select count(1)
        from x_address
        where x_address = #{x}
          and delete_type = 0
    </select>

    <select id="getXUrls" resultType="java.lang.String">
        select url
        from x_address_url
        where x_address = #{x}
          and delete_type = 0
    </select>

    <insert id="addXUrl">
        insert into x_address_url(x_address, url, create_time, update_time, delete_type)
        values (#{x}, #{url}, #{createTime}, #{createTime}, 0)
    </insert>

    <update id="updateXUrlTime">
        update x_address_url
        set update_time = #{updateTime}
        where x_address = #{x}
          and url = #{url}
    </update>

    <update id="send">
        update x_address
        set update_time = #{updateTime},
        is_send=1
        where delete_type = 0
        and (x_address in
        <foreach collection="xs" item="x" open="(" close=")" separator="," index="index">
            <if test="(index % 999) == 998">
                NULL) OR x_address IN(
            </if>#{x}
        </foreach>
        )
    </update>
</mapper>